.container {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.title {
  font: var(--font-2);
  color: var(--main-font-color);
}

.content {
  display: flex;
  justify-content: space-between;
}
