.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 407px;
  padding: 10px 32px 32px;
  border-radius: 30px;
}

.img {}

.name {
  font: var(--font);
  color: var(--main-font-color);
}

.price {
  font: var(--font);
  color: var(--extra-font-color-1);
}

.rating {
  display: flex;
  gap: 10px;
  font: var(--font);
  color: var(--extra-font-color-2); /* ? */
}

.button {
  font: var(--font);
}
