.storePageBG {
  background-color: var(--bg);
}

.mainContainer {
  display: grid;
  grid-template-rows: min-content auto min-content;
  gap: 20px;
  width: 1110px;
  min-height: 100vh;
  margin: 0px auto;
}
