.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0px;  
}

.item {
  text-align: left;
}

.link {
  font: var(--font-1);
  color: var(--main-font-color);
  font-weight: 400;
  text-decoration: none;
}
