.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
}

:root {
  --bg: #eaeaea;
  --card-color: #ffffff;
  --main-font-color: #000000;
  --extra-font-color-1: #ffa542;
  --extra-font-color-2: #838383;

  --font-1: 600 17px/21px "Montserrat", sans-serif;
  --font-2: 600 20px/24px "Montserrat", sans-serif;
}
