.socialNetworksList {
  list-style: none;
  display: flex;
  gap: 18px;
  padding-left: 0px;
}

.socialNetworkItem {}

.link {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  color: var(--extra-font-color-2);
  background-position: center;
  background-repeat: no-repeat;
}
.socialNetworkItem:nth-child(1) .link {
  background-image: url("../../assets/vk.svg");
}
.socialNetworkItem:nth-child(2) .link {
  background-image: url("../../assets/telegram.svg");
}
.socialNetworkItem:nth-child(3) .link {
  background-image: url("../../assets/whatsapp.svg");
}
