.img {
  display: block;
  width: 30px;
  height: 24px;
  color: var(--extra-font-color-2);
  background-image: url("../../assets/favorite-goods.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
